:root {
  --bg-color: cornflowerblue;
  --label-color: white;
  --primary-color: cornflowerblue;
  --secondary-color: orange;
}

body {
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 1rem 1rem 0 1rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--label-color);
}

button.bare {
  background-color: transparent;
  margin: 0 0.5rem;
  padding: 0;
}

button:disabled {
  /* background-color: red; */
  opacity: 50%;
}

button:disabled .fa-svelte {
  color: #aaa;
}

button,
select {
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
}

.fa-svelte {
  color: var(--label-color);
  font-size: 1.2rem;
}

h1 {
  color: var(--secondary-color);
}

label {
  color: var(--label-color);
  font-weight: bold;
  margin-right: 0.5rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
