.bare {
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button,
select {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
